
.map {
 width: 1000px;
 height: 685px;
 position: absolute;
 top: 55px;
 background-image: url('../img/usa25.gif');
 background-size: contain;
 background-repeat: no-repeat;
}


.our-places {
  width: 350px;
  margin-right: 30px;
  padding: 10px;
  border: 1px solid black;
}

.make-add {
  cursor: copy;
}
