
.map {
 width: 1000px;
 height: 685px;
 position: absolute;
 top: 55px;
 background-image: url('../img/usa25.gif');
 background-size: contain;
 background-repeat: no-repeat;
}

#show-places {
  position: absolute;
  top: 800px;
}
